@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.wrapp {
  background-image: url('https://img3.goodfon.com/wallpaper/nbig/0/a8/new-zealand-landscape-farm.jpg');
  width: 100%;
  height: 100%;
  display: block;

  float: left;
  background-size: cover;
  display: block;
}


.login-box {
  margin: auto;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 20%;
}
